  
----------------------------------------------------------------------------


section{}
div{}
h2{}

.header{
    color:white;
    text-align:center;
    font-size:50px;
    margin-top: 40px;
    border: 4px solid #d3d3d3}


/* ---------------------------Top Intro Section----------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

.navbar{
    color: white;
    display: flex;
    text-decoration: none !important;
    justify-content:space-between;
    padding-bottom: 30px;
}

.siempre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;}
@media only screen and (max-width: 768px){
    .siempre{
        display: none;}
}



.logo{
    height: 70px;
    line-height: 50px;
    vertical-align: middle;
    padding border-bottom: 50px;
    transition: 0.3s;}
.logo:hover {opacity: .6}



.logo3{
    height: 40px;
}







/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: inherit;
  padding: 16px;
  padding-top: 1px;
  padding-bottom: 0;
  font-size: 12px;
  border: none;
  transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding: 5px;
  padding-right: 30px;
  /*background-color: #242424;*/
  position: relative;
  display: inline-block;
  border-collapse: separate; 
  perspective: 1%;
  border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    opacity: 0.6;
    background-color: inherit;}




a{  color: white;
    text-decoration: none;}

.logo{
    
    border-style: none;
}

.logo2{
   
    border-style: none;
}




.filler{
    height: 700px;
    color:#1F1F1F;
    align-content: flex-end;
    }

.face{
    height:400px;
    width: 400px;
    border-radius: 200px;
    padding-right:20px;}

@media only screen and (max-width: 768px){
    .face{
        height:350px;
        width: 350px;}}
@media only screen and (max-width: 400px){
    .face{
        height:325px;
        width: 325px;}}


  .header2{
      display: inline-flex;
      
      color:white;
      background-color: #0f0f0f;
      font-size:50px;
      margin-top: 2%;}
.header3{
    text-align: center;
    justify-content: center;
    border-bottom: white; 
    border-width: medium;}


.parent{
    display: flex;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100%;
    padding-bottom: 4.5%}



.title3{
    font-size: 45px;
    color:white;
    text-shadow: 2px 2px 1px #000000;
    margin-bottom: 0px;}

.bio{
    font-size: 20px;
    margin-top: 10px;
    color:white;}

@media only screen and (max-width: 768px){
    .face{
        padding-right: 0px;}}
    
    .title4{
        color: white;
        text-align: center;
        padding-bottom: 3.5%}
    
.title5{
        color: white;
        font-size: 27px;
        border-style: solid;
        border-color: #242424;
        background-color: #FD2D00;
        border-width: 1px;
        border-bottom-width: thick;
        padding: 1%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;}
@media only screen and (max-width: 400px){
    font-size: 23px;
    Margin-left: .5%;
    margin-right: .5%;
}


.section2{
    background-color: #0f0f0f;
    text-align: center;
}
  


.footer{
    
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    padding: .5%;
    background-color: black;
    margin-bottom: 0px;
}


@media only screen and (min-width: 700px){
    .footer{
        position: fixed;
        bottom: 0;
    }


@media only screen and (max-width: 550px){
    .footer{
        font-size: 10px;
    }}
@media only screen and (max-width: 400px){
    .footer{
        font-size: 7px;
    }}



.Contactstuff{
    display: flex;
    color: white;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #242424;
    border-width: 1px;
    font-size: 24px;} 
.Contact{
    text-align: center;
    width:35%;
    min-height: 120px;
    border-style: solid;
    border-color: black;
    background-color: #FD2D00;
    border-width: medium;
}
.Socials{
    text-align: center;
    width: 35%;
    border-style: solid;
    border-color: black;
    background-color: #70E7D1;
    border-width: medium;}

@media only screen and (max-width: 710px){
    .Contactstuff{
        font-size: 18px;
        flex-direction: column;
        justify-content: center;
    }
}





.Contactstuff1{
    display: grid;
    grid-template-columns: 30% 30%;
    align-content: center;
    color: white;
    border-style: solid;
    border-color: #242424;
    border-width: 1px;
    font-size: 24px;} 
.Contact1{
    

    border-style: solid;
    border-color: black;
    background-color: #FD2D00;
    border-width: medium;
}
.Socials1{
    
    border-style: solid;
    border-color: black;
    background-color: #70E7D1;
    border-width: medium;}

@media only screen and (max-width: 710px){
    .Contactstuff1{
        font-size: 18px;
        
    }
}

























p{margin: .5%;}

/*_______________________________________________________*/



    
    
    

.worktitle{
    font-size: 50px;}
.flexdate1{
    margin-right: 1%;
    font-size: 20px;}
    flex-shrink:1;

.workwordsflex1{
    max-width: 350px;
    padding-right:10%}

.workwordstitle   {font-size:30px;}
.workwordslocal    {font-size:15;}
.workwordsdescript   {font-size:20px;}

.flexresume2{
    color: white;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-evenly;
    flex-shrink: 1
}





.datewords{
    display:inline-flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    padding-top: 40px;
    flex-grow: 1
    padding-left:20%}

.datewords1{
    display:inline-flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    padding-top: 40px;
    flex-grow: 1
    padding-left:20%}

.worktitle{
    font-size: 50px;
    padding-top:40px;}
.worktitle1{
    font-size: 50px;
    color: #242424;}



.workwordsflex1{
    max-width: 350px;}
.workwordstitle   {font-size:30px;}
.workwordslocal    {font-size:15;}
.workwordsdescript   {font-size:20px;}

.empty1{
    font-size:50px;
    color:#242424;}
.spaces22{
    display: block;
    color: #242424;}
.spaces23{
    display:block;
    font-size: 49px;}
.flexdate2{
    color: #242424;
    font-size: 49px;}




/*

@media only screen and (max-width: 768px){
    
    .docsections{
    margin-left: 9%;
    margin-right: 9%;
    flex-direction: column;
    flex-shrink: 1;
    padding: 40px;
    justify-content: space-evenly;
    max-height: 4000px; }
    
    .docname{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    }
    
    .docname1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;
    }
                                         }
   
    


@media only screen and (max-width: 450px){
    .parentcon{
    border: 2px solid #242424;
    color:white;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    text-align: center;
    justify-content: space-evenly;}
    
    .flexdate1{
        margin-right: 0%;
        font-size: 15px;
        min-width: 20%;
        margin-left:0%}
    .datewords{
        width:350px;}
    .flexresume2{
        padding-bottom: 15px;} 
    
    
    .phone2{
    font-size: 10px;}
    
     .docsections{
    margin-left: 0;
         margin-right: 0%;}}
    
    
    
                                       
@media only screen and (max-width:768px){
    .flexresume2{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: flex-end;
    flex-shrink: 1} 
    
    .datewords{
    display:inline-flex;
    flex-direction: row;
    min-width: 40px;
    justify-content: space-between;
    padding-top: 0px;
    flex-shrink: 1}
    
    .spaces22{display:none}
    .spaces23{display:none}
    .spaces24{display:block}
    
    .largedugs{
        width: 370px;
        height:auto;
        
    }
                                        }
*/

 @media only screen and (min-width: 768px){
    
    .title1{
    width: 1000px;
    text-align: left; 
    display:block;
    background-color: #333333;
    color:white;
    font-size: 20px;}
     
    .title2{
    float: right;
    text-align: right; 
    display:block;
    background-color: #333333;
    color:white;
    width: 100%;
    font-size: 15px;}
     
    /*.flexresume2{
    justify-content: space-evenly;
     width: 80%;}*/

     
     .spaces24{display:none}
     .spaces23{display: block} }
    
   /* .flexresume2{
        
        margin-left: 20%;
        margin-right: 20%;
    }

    
/*-------------------------*/
    

.largedug{
    display: flex;
    justify-content: center;
}
.largedugs{   
    max-width: 100%;
    height: auto;}

/*.serv{
    display: flex;
    flex-direction: row;
    justify-content:space-around */
} 

.header2{
    color:white;
    background-color: #333333;
    font-size:50px;
    margin-top: 40px;
    border: 4px solid #d3d3d3}

.workingimg{
    max-width: 400px;}

.worktitle3{
    color:white;
    font-size: 50px;
    padding-top:40px;}

.worktitle4{
    color:white;
    font-size: 50px;}

.servicewords1{
    padding-top: 20px;
    font-size: 25px;
    color: white;}

.eagle{
    display: flex;
    flex-direction: column;
    max-width: 700px;}

.eagle{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;}

/*-----------------------*/



.icon{
    max-width: 300px;
    max-height: 300px;}

.docsections{
    margin: 5%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-evenly;}

.docname{
    color:white;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px}

.docname1{
    color:white;
    font-size: 40px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px}
hr{
    color: solid white;
    width: 85%;
    height: 2px;}

@media only screen and (max-width: 768px){
    
    .docimg{
        max-width: 300px;
        margin: 0 auto;
    }
    
    .icon{
        max-width: 300 px;
        max-height: 300 px;}
    
    .docsections{
    margin-left: 9%;
    margin-right: 9%;
    flex-direction: column;
    flex-shrink: 1;
    padding: 40px;
    justify-content: space-evenly;
    max-height: 4000px; }
    
    .docname{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    }
    
    .docname1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;
    }
                                         }





/*____________Flash Cards_______________*/

.FlashCards {
    font-size: 35px;
    padding-top: 1.5%;
    color: white;
    text-align: center;
}

.flash_bio {
    font-size: 20px;
    color: white;
    text-align: center;
}


.flashcard {
  color: white;
  max-width: 800px;
  font-size: 30px;
  margin: 5% auto;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

#definition {
  display: none;
  margin-top: 10px;
}


#nextButton {
    
}

#answerButton

/*----------Snake------------*/
