.Service{
    width: 90%;
    margin: auto;}

.Head {
    color:#000;
    text-align:center;
    font-size:65px;
    margin-top: 20px;
    width: 100%}

.title{
    font-size: 40px;
    margin-top: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    line-height: 0%;
}
.line{
    font-size: 50px;
    margin-bottom: 2%;
}

.pg{
    font-size: 25px;
}

.largedug{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding-bottom: 3%;
    padding-top: 5%;
}

.working{
    display: flex;
    justify-content: center;
    height: 500px;
    width: inherit;
    padding-bottom: 3%;
    padding-top: 5%;
}


.largedug{
    display: flex;
    justify-content: center;}
.largedugs{   
    max-width: 100%;
    height: auto;}


@media only screen and (max-width: 710px){
    .largedugs{
        max-width: 90%}
    .title{
        padding-top: 7%;}
    .pg{
        font-size: 20px;
    }
}


.ProjectGrid{
    display: grid;
    
}
